# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
build/*

#VSCode
.vscode/*

vendor/glfw-3.3.8.bin.WIN32/docs/*
models/*
example/*

*.jpg
*.mtl
*.png

apitrace/*